@font-face {
  font-family: "IntegralCFRegular";
  src: local("sans-serif"),
    url("https://codernuub.github.io/portfolio/fonts/Fontspring-DEMO-integralcf-regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
