:root {
  --main-background: #ebeef1;
  --text-color: #333;
  --box-shadow: 0 4px 10px 0 rgba(189, 208, 223, 0.25);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  color: var(--text-color);
}

h1 {
  margin: 0;
  height: fit-content;
}

h1 > span {
  color: rebeccapurple;
}

ul {
  list-style: none;
  padding: 0;
  margin: auto 0;
}
ul > li {
  display: block;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
}

a {
  color: var(--text-color);
}

.box-area {
  width: calc(100% - 80px);
  padding: 40px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.main-heading {
  display: block;
  font-family: "Borel";
  margin: auto 0;
  font-size: 26px;
  max-height: 26px;
  color: rebeccapurple;
}
header > ul > li {
  margin-left: 20px;
  color: rebeccapurple;
}
header > ul > li:hover {
  text-decoration: underline;
}

section {
  width: calc(100% - 80px);
  padding: 40px;
}
.heading {
  display: block;
  margin: auto;
}
section h1 {
  font-family: "IntegralCFRegular";
}
.intro {
  display: flex;
}
.intro > .content p {
  font-size: 0.95rem;
  word-spacing: 2px;
  font-family: "GilroyRegular" !important;
}
.social-media {
  justify-content: start !important;
  height: fit-content;
  margin: auto 0;
}
.social-media > li {
  margin: 0 10px 10px 0;
  height: fit-content;
}
.social-media > li > img {
  width: 30px;
  aspect-ratio: 1/1;
}

.experiences {
  text-align: center;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: fit-content;
  max-width: 600px;
  height: fit-content;
  margin: 40px auto;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 23px;
  height: fit-content;
  padding: 0;
  margin: 15px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: transparent;
}
.skill > img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}

.contact {
  text-align: center;
  background-color: #eee
}
.contact div {
  width: fit-content;
  display: flex;
  margin: auto;
}
.contact div > img {
  width: 100px;
  box-shadow: var(--box-shadow);
  padding: 5px 10px;
  border-radius: 6px;
  margin-right: 20px;
  background-color: #fff;
}
.contact div > img:nth-child(2) {
  width: 90px;
}

footer {
  background-color: rebeccapurple;
  padding:10px 40px;
}
footer > h1 {
  text-align: center;
  color: #fff !important;
}
footer > .social-media > li {
  margin: 10px;
  filter: invert(100%);
}

@media only screen and (min-width: 900px) {
}
