:root {
  --testColor: #1b1b1b;
}
body {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  color: #242124;
  font-family: Helvetica;
  user-select: none;
  font-size: calc(1rem + 1vw);
}
/*Header*/
header {
  width: 95%;
  padding: 10px 2.5%;
  background-color: white;
}
header > .head {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 2.5%;
}
header > .head > h2 {
  font-size: calc(1.3rem + 1vw);
  color: rgb(175, 171, 171);
  margin: 2.5% 0;
}

header > .head > .menu {
  width: 28px;
  padding: 1px 3px;
  margin: auto 0;
  border: 1px solid #eee;
  border-radius: 5px;
}
header > .head > .menu > span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(175, 171, 171);
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 10px;
}

/*menu design*/
header > .head > .a-menu > span:nth-child(1) {
  width: 70%;
}
header > .head > .a-menu > span:nth-child(2) {
  width: 85%;
}
header > .head > .a-menu > span:nth-child(3) {
  width: 65%;
}

/*header navbar*/
header > nav {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
header > .active-nav {
  height: 100px;
}
header > nav > ul {
  width: 95%;
  padding: 10px 2.5%;
  margin: 0;
  list-style-type: none;
  margin: auto 0;
}

header > nav > ul > li {
  padding: 10px 0;
  font-size: 0.9rem;
  color: #242124;
  font-weight: bold;
  color: rgb(175, 171, 171);
  border-bottom: 1px solid #eee;
}
/**/
section{
  display: block;
  width:100%;
  margin: 7% 0;
}
section > h2 {
  text-align: center;
  color: rgb(175, 171, 171);
  font-size: calc(1.2rem + 1vw);
}
section > p {
  text-align: center;
  color: rgb(175, 171, 171);
  margin:2.5%;
  font-size: calc(1rem + 1vw);
}
/*box*/
.my-work {
  display: block;
  width: 100%;
  margin:7% auto;
}
.my-work > h3 {
  text-align: center;
  font-size: calc(1rem + 1vw);
}
.my-work > .works {
  width: 95%;
  margin: 2.5%;
}
.my-work > .works > .description {
  width: 85%;
  margin:20px auto;
  padding:2.5%;
  overflow: hidden;
  border-radius:10px;
  border: 1px solid #eee;
  color:#eee;
  box-shadow: 1px 1px 16px 8px rgba(0, 0, 0,0.080),
  -1px -1px 16px 8px rgba(0, 0, 0,0.080);;
  background: linear-gradient(45deg , rebeccapurple , purple);
}
.my-work > .works > .description:nth-child(2){
  background:none;
  background-color: #242124;
}
.my-work > .works > .description > .more-about{
  width: 100%;
  padding:0;
  margin:0;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.my-work > .works > .description > h4 {
  font-size: calc(0.9rem + 1vw);
  padding:3% 5%;
  margin:0;
 
  /*color: #242124;*/
}
.my-work > .works > .description > p {
  padding:10px 5%;
  margin:0;
  font-size: calc(0.7rem + 1vw);
}
.my-work > .works > .description > .more-about > span {
  font-size: calc(0.6rem + 1vw);
  font-weight: bold;
  padding:0 5%;
  text-decoration: underline;
}
.my-work > .works > .description > .more-about > .features {
  display: block;
}
.my-work > .works > .description > .more-about > .features > li {
  border:none;
  padding:0;
  margin:5px 0;
  white-space: normal;
}
.my-work > .works > .description > .more-about > ul {
  list-style: none;
  width:90%;
  margin: 10px 0;
  padding:0 5%;
  display: flex;
  flex-wrap: wrap;
}
.my-work > .works > .description > .more {
  height:auto;
}
.my-work > .works > .description > .more-about > ul > li {
  white-space: nowrap;
  width: fit-content;
  padding: 3px 1%;
  margin:3px 1% 0 0;
  font-size: calc(0.7rem + 1vw);
  border: 1px solid #eee;
  border-radius:5px;
}
.my-work > .works > .description > span {
  font-size: calc(0.6rem + 1vw);
  font-weight: bold;
  padding:0 5%;
}

.my-work > .works > .description > button {
  width:55%;
  margin:2.5% 5%;
  padding:3%;
  border-radius:5px;
  border:transparent;
  color:white;
  background-color: royalblue;
}
/*footer*/
footer {
  margin-top: 5%;
  border: transparent;
  text-align: center;
  width: 95%;
  padding: 2.5%;
  border-top: 1px solid #eee;
}
footer > div {
  width: 60%;
  margin: 0 20%;
  display: flex;
  justify-content: space-evenly;
}
footer > div > a {
  text-decoration: none;
}
footer > div > a > img {
  color: aliceblue;
  width: 5.5vw;
  margin: 5%;
}
footer > span {
  color: grey;
  font-size: 3.5vw;
}

@media only screen and (min-width: 1100px) {
}
