:root {
  --testColor: #1b1b1b;
}
.highlight{
  color:royalblue
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  color: #242124;
  font-family:'poppins' ,sans-serif;
  user-select: none;
  font-size: calc(1rem + 1vw);
}

/*Header*/
header {
  width: 95%;
  padding: 10px 2.5%;
}

header > .head {
  width: 95%;
  margin: 0 2.5%;
}
header > .head > h2 {
  margin:0;
}
header > .head > p {
  margin:0;
}

section{
  display: block;
  width:95%;
  margin:0;
  padding:10px 2.5%;
}
.intro {
  display:flex;
  justify-content: space-between;
  margin: 5% 0;
}
.intro > img {
  width:35%;
  margin:2.5%;
  border-radius:100%;
}
.intro > #social-media {
  width:50%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.intro > #social-media > a > img {
  width:35px;
}

/**ack*/
.ack > p{
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  width: fit-content;
  margin: 0;
  padding:5px 0;
  /*border-bottom: 2px solid #242124;*/
}

/*skillls*/
.skills {
  width:100%;
  padding:0;
  margin:0;
}

.skills > .skill {
  width:95%;
  padding: 2.5%;
}
.skills > .skill > h5 {
  width: fit-content;
  font-size:1.4rem;
  margin:2.5% 0;
  font-weight: lighter;
  padding:5px 0;
  border-bottom: 2px solid #242124;
}
.skills > .skill > ul {
  padding:0;
  list-style: none;
}
.skills >  .skill > ul > li > span {
  font-size:1.1rem;
}
.skills > .skill > ul > li  > span:nth-child(1){
  color: grey;
  font-weight: bold;
}



/*footer*/
footer {
  margin-top: 5%;
  border: transparent;
  text-align: center;
  width: 95%;
  padding: 2.5%;
  background-color:#242124;
}

footer > span {
  color: white;
  font-size:0.9rem;
}

